body{
    
background-color: aqua;
}
.table-content{
    display: flex;
    flex-wrap: wrap;
    
}
.tab-1,.tab-2,.tab-3,.tab-4,.tab-5,.tab-6,.tab-7,.tab-8,.tab-9,.tab-10,.tab-11,.tab-12{
    width: 250px;
    height: 200px;
    background-color:rgb(90, 93, 92);
    margin: 10px 12px;
    padding: 3px 9px 34px 34px;
   }
          
table {
            border-collapse: collapse;
            background: #ffffff;
            color: rgb(0, 0, 0);
            flex-direction: row;
            margin: -13px 0px 0px 0px;
        }
        
        
th,
td {
            font-weight: bold;
        }
h1{
    color: white;
}
      